# RPC endpoint of your test network (e.g. Ganache, Alchemy, Infura)
RPC_URL=HTTP://127.0.0.1:7545

# private key for the wallet that will sign transactions (e.g. MetaMask account)
PRIVATE_KEY=0xca61d3d447a0a276f6e463cad3a5d3f1cd29063006e027da37bc94e189441a67

# deployed smart contract address
CONTRACT_ADDRESS=0x6f26E041c09242f732d235a636450ff455B14BAd
