# RPC endpoint of your test network (e.g. Ganache, Alchemy, Infura)
RPC_URL=HTTP://127.0.0.1:7545

# private key for the wallet that will sign transactions (e.g. MetaMask account)
PRIVATE_KEY=0x794469c13d109ddd81812bea40d29e94a9d3087a26488cd35389fc5507b99f21
# deployed smart contract address
CONTRACT_ADDRESS=0x6f26E041c09242f732d235a636450ff455B14BAd
